header.main-header#main-header
  a(href="#inicio").main-header__logo
    +logo('logo.svg','logo','main-logo')
  .main-header__text
    p.slogan A history of work, dedication and passion, to share and enjoy.
    .main-header__toggle
      include ../icons/toggle
    include ../includes/main-menu

      
