section.section.nosotros#nosotros
  article.nosotros__banner.section__banner
    img(src="img/Landscape.jpg" alt="paisaje")
  article.section__content
    .section__text.nosotros__text
      p DESTILADORA DE AGAVE AZUL, S.A. de C.V., a 100% Mexican company, established in the town of San Juanito de Escobedo, located 80 km from Guadalajara, in the western center of the State of Jalisco.
      p Our history rich in tradition begins with Don Anselmo García, a visionary merchant who for many years traveled the Tequila route offering his handicrafts made from Tule (hats, “Chinas para el agua”, “petates” among others) and it was on those tours that he knows the aguardiente drink (nowadays known tequila) and is interested in its artisanal elaboration process.
      p This is how when observing the natural growth characteristics of agave plantations (at that time known maguey) he decides to take the plant to the town of San Juanito de Escobedo and that is how in 1930 he gave rise to the tavern to make such drink.
      p The tavern became a meeting point for the townspeople who enjoyed the artisanal drink in the company of their friends and family.
      p Until the fifties, this property belonged to the Garcia family. However, in 1964 the tavern changes of course and owners, who continued to make Tequila without much success, leaving the tavern years later forgotten.
      p In 1996, a group of businessmen decided to restore the distiller and that's when “DESTILADORA DE AGAVE AZUL, S.A. of C.V.” is founded.
      p When it was put up for sale in 2005 and after learning about the history of the place belonging to his great-grandfather Don Anselmo García, Mr. Jose de Jesús García García is the one who decides to start again the tradition of making a high quality tequila, positioning it both in the national and international market.

    img(src="img/arrowDown.svg" alt="").arrowdown
